<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>400</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2700</integer>
			<key>Identifier</key>
			<string>BBC8F655-C07F-58A3-97DB-099EE2623287</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro15,2</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-13-retina-touchid-2018</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.14.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.14.1 (18B75)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>My Mac</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>400</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2700</integer>
			<key>Identifier</key>
			<string>BBC8F655-C07F-58A3-97DB-099EE2623287</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro15,2</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-13-retina-touchid-2018</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.14.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.14.1 (18B75)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>macosx10.14</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>macOS 10.14</string>
			<key>OperatingSystemVersion</key>
			<string>10.14</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>CoverageTests-F90A12D9-8068-47BE-B6CC-DFC173BAACD9</string>
			<key>ProjectPath</key>
			<string>Coverage.xcodeproj</string>
			<key>TargetName</key>
			<string>CoverageTests</string>
			<key>TestKind</key>
			<string>xctest-tool hosted</string>
			<key>TestName</key>
			<string>CoverageTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.15805995464324951</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.15687799453735352</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.15607607364654541</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>565809495.637218</real>
													<key>StartTimeInterval</key>
													<real>565809495.63648701</real>
													<key>Title</key>
													<string>Assertion Failure: CoverageTests.swift:29: XCTAssertEqual failed: ("Optional("Usage:\n  coverage &lt;results-path&gt; [&lt;target&gt;] [--showFiles] [--threshold=&lt;amount&gt;]\n")") is not equal to ("Optional("Hello, world!\n")") - </string>
													<key>UUID</key>
													<string>F44BDCB6-0916-4A1C-A1F6-EACF74000B96</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.15546202659606934</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/sam/Projects/Coverage/Tests/CoverageTests/CoverageTests.swift</string>
													<key>LineNumber</key>
													<integer>29</integer>
													<key>Message</key>
													<string>XCTAssertEqual failed: ("Optional("Usage:\n  coverage &lt;results-path&gt; [&lt;target&gt;] [--showFiles] [--threshold=&lt;amount&gt;]\n")") is not equal to ("Optional("Hello, world!\n")") - </string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>CoverageTests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>BEE87AF3-0949-4814-B53A-14BE30AAD040</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>CoverageTests</string>
									<key>TestName</key>
									<string>CoverageTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>CoverageTests.xctest</string>
							<key>TestName</key>
							<string>CoverageTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
